<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by city</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <input type="text" ng-model="city" class="form-control" />
                <br />
                <select ng-model="selectedLanguage" ng-options="language.name for language in supportedLanguages" ng-change="languageChanged(selectedLanguage)"></select>
                <select ng-model="selectedUnit" ng-options="unit.name for unit in temperatureUnits" ng-change="temperatureUnitChanged(selectedUnit)"></select>
                <select ng-model="selectedDays" ng-options="days for days in AllDays" ng-change="daysChanged(selectedDays)"></select>
            </div>
            <input type="submit"  class="btn btn-primary" value="Get Forecast" />
        </form>
    </div>
</div>